@import "tailwindcss";

@config '../tailwind.config.mjs';

.builder-canvas {
  background: white;
  border-radius: 8px;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
